.Login{
    height: 100vh;
}
.Login-box{
    width: 550px;
    height: 500px;
    background-color: #607D8B;
    border-radius: 50px;
}
.Login, .Login-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Login-box-databox{
    display: flex;
    flex-direction: column;
}

.Login-box-username,
.Login-box-password{
    font-size: 1.1em;
    color: #fff;
    margin-bottom: 10%;
    text-align: center;
    margin-top: 10%;
}
.Login-submit{
    display: block;
    margin: 12% auto;
    background-color: #fff;
    border-radius: 4%;
    border: none;
    cursor: pointer;
    font-size: 0.8em;
    padding: 5px 15px 5px 15px;
}

.Login-box-password,.Login-box-password,.Login-submit{
    font-family: sans-serif;
}

.Login-username-input,
.Login-password-input{
    width: 300px;
    border-radius: 7px;
    padding: 5px 4px 5px 4px;
    font-family: sans-serif;
    font-size: 1em;
}